body {
   margin-top: 40px; 
   padding: 50px 0 60px 0; 
   font-family: 'Abel', sans-serif ;
}

.navbar{
   color: white;
   opacity: inherit;

}
.product p{
   margin-top: 40px;
   text-align: center;
}
.image{
   width: 100%;
   height: 80%;
}
#footer{
   margin-top: 10px;
   padding-top: 0px;
   color: white;
   text-decoration: none;
   list-style: none;
}
p{
   text-align: justify;

}
.img{
   margin-top: 50px;
}
ul{
   color: white;
}